<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickupHoops.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2D3EF481C2A9A05003D8A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D3EF5E1C2A9A06003D8A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D3EF691C2A9A06003D8A38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
